html {
  scroll-behavior: smooth;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #070707;
}

input {
  max-width: 672px;
  width: 100%;
  height: 68px;
  border: solid 1px #48a1f7;
  border-radius: 8px;
  margin-bottom: 22px;
  padding: 0 10px;
  font-size: 25px;
}

textarea {
  max-width: 672px;
  width: 100%;
  height: 68px;
  border: solid 1px #48a1f7;
  border-radius: 8px;
  margin-bottom: 22px;
  padding: 16px 10px;
  font-size: 25px;
}

textarea::placeholder,
input::placeholder {
  font-size: 25px;
  color: #959595;
}

form button {
  color: #ffffff;
  background-color: #48a1f7;
  text-align: center;
  font-size: 25px;
  padding: 19px 0;
  margin-top: 10px;
  max-width: 278px;
  width: 100%;
  border: solid 0.2px #ffffff;
  border-radius: 8px;
  transition: color 0.25s ease, background-color 0.25s ease, border 0.25s ease;
}

form button:hover {
  color: #48a1f7;
  background-color: #ffffff;
  border: solid 0.2px #48a1f7;
  transition: color 0.25s ease, background-color 0.25s ease, border 0.25s ease;
}

.header {
  margin: 0 auto;
  max-width: 1600px;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.logo {
  cursor: default;
  display: flex;
  align-items: center;
}

.logo-title {
  font-weight: 600;
  font-size: 30px;
  color: #000000;
  line-height: 27px;
}

.logo-title span {
  color: #48a1f7;
}

.logo img {
  margin-right: 6px;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo-subtitle {
  font-size: 12px;
  color: #7e7e7e;
  font-weight: 400;
}

.contacts {
  display: flex;
  max-width: 509px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.contacts p {
  color: #070707;
  font-size: 20px;
  font-weight: 400;
}

.phone {
  transition: color 0.25s ease;
  padding: 0;
}

.phone:hover {
  color: #48a1f7;
  transition: color 0.25s ease;
}

.callback-btn {
  cursor: pointer;
  background-color: #48a1f7;
  padding: 10px 37px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  border-radius: 21px;
  border: solid 1px #ffffff;
  transition: background-color 0.25s ease, color 0.25s ease, border 0.25s ease;
}

.callback-btn:hover {
  background-color: #ffffff;
  color: #48a1f7;
  border: solid 1px #48a1f7;
  transition: background-color 0.25s ease, color 0.25s ease, border 0.25s ease;
}

.main {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding: 0 224px;
  position: relative;
  overflow: hidden;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 120px;
}

.info-text {
  max-width: 50%;
}

.info-title {
  font-size: 35px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
}

.info-title span {
  color: #48a1f7;
}
.info-subtitle.mobile {
  display: none;
}

.info-subtitle {
  font-size: 25px;
  color: #000000;
}

.info-image img {
  max-width: 100%;
}

.description {
  margin-top: 110px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.description-title {
  display: flex;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  flex-direction: column;
}

.description-title span {
  color: #48a1f7;
}

.description-title span:last-child {
  color: #000000;
}

.description-text-container {
  max-width: 373px;
  border-radius: 16px;
  background-color: #48a1f7;
  padding: 21px;
  margin-top: 24px;
  min-height: 222px;
}

.desciption-text {
  font-size: 16px;
  color: #ffffff;
}

.desciption-text span {
  color: #000000;
}

.experience {
  text-align: center;
  max-width: 795px;
  margin: 132px auto 30px auto;
}

.blue-key-bg {
  position: absolute;
  z-index: -1;
  left: 0;
  top: 902px;
}

.blue-key {
  display: none;
}

.grey-key {
  position: absolute;
  z-index: -1;
  top: 1147px;
  right: -41px;
}

.experience-title {
  color: #000000;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 19px;
  text-transform: uppercase;
}

.experience-description {
  font-size: 25px;
  margin-bottom: 40px;
}

.experience-phone {
  color: #ffffff;
  background-color: #48a1f7;
  padding: 17px 50px;
  border: solid 1px #48a1f7;
  border-radius: 15px;
  transition: background-color 0.25s ease, color 0.25s ease, border 0.25s ease;
}

.experience-phone:hover {
  background-color: #ffffff;
  color: #48a1f7;
  transition: background-color 0.25s ease, color 0.25s ease, border 0.25s ease;
}

.materials-box {
  background-color: #eaeaea;
  border-radius: 16px;
  padding: 55px;
  margin-top: 145px;
}

.materials-title {
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 17px;
}

.materials-decsription {
  font-size: 25px;
}

.settings-bg {
  position: absolute;
  z-index: -1;
  bottom: 15px;
  left: 33px;
}

.settings-bg-blur {
  position: absolute;
  z-index: -1;
  top: 2px;
  right: -224px;
}

.callback-form {
  position: relative;
}

.form-header {
  border: solid 10px #48a1f7;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  padding: 44px 20px 17px 20px;
  max-width: 783px;
  width: 100%;
  margin: 195px auto 0 auto;
  text-align: center;
}

.price-text:first-child {
  font-size: 42px;
  font-weight: 400;
}

.price-text {
  font-size: 42px;
  font-weight: 600;
}

.form-header-description {
  color: #ffffff;
  background-color: #48a1f7;
  padding: 0 0 10px 0;
  text-align: center;
  max-width: 783px;
  width: 100%;
  margin: -1px auto;
}

.form-text {
  margin-top: 43px;
  font-size: 25px;
  text-align: center;
}

.form-text span {
  color: #48a1f7;
}

.form-text-time {
  font-size: 25px;
  text-align: center;
}

.contact-form {
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 195px;
}

.footer {
  height: 97px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  background-color: #2f2f2f;
  font-size: 18px;
}

.footer-phone {
  color: #ffffff;
  transition: color 0.25s ease;
}

.footer-phone:hover {
  color: #48a1f7;
  transition: color 0.25s ease;
}

@media (max-width: 1600px) {
  .main {
    overflow: hidden;
  }
}

@media (max-width: 1550px) {
  .main {
    padding: 0 170px;
  }
}

@media (max-width: 1440px) {
  .main {
    padding: 0 145px;
  }
  .form-header {
    margin-top: 145px;
  }
}

@media (max-width: 1240px) {
  .grey-key {
    top: 1135px;
    right: -216px;
  }
}

@media (max-width: 1120px) {
  .main {
    padding: 0 145px;
  }

  .info-title {
    font-size: 25px;
  }

  .info-subtitle {
    font-size: 20px;
  }
}

@media (max-width: 1080px) {
  .main {
    padding: 0 90px;
  }

  .header {
    padding-left: 30px;
    padding-right: 30px;
  }

  .description {
    flex-direction: column;
  }

  .description-title {
    flex-direction: row;
    text-align: left;
    margin-left: 25px;
  }

  .description-text-container {
    max-width: 100%;
    min-height: 116px;
    margin-top: 5px;
    margin-bottom: 28px;
  }

  .materials-title {
    font-size: 30px;
  }

  .materials-decsription {
    font-size: 20px;
  }

  .footer {
    height: 185px;
  }

  .blue-key-bg {
    left: -168px;
    top: 1056px;
  }

  .grey-key {
    top: 1344px;
    right: -218px;
  }

  .settings-bg {
    bottom: 8px;
    left: -90px;
  }
}

@media (max-width: 920px) {
  .info {
    flex-direction: column;
  }
  .info-text {
    max-width: 100%;
  }

  .blue-key-bg {
    left: -136px;
    top: 1281px;
  }

  .grey-key {
    top: 1545px;
    right: -262px;
    filter: blur(17px);
  }

  .settings-bg-blur {
    display: none;
  }
}

@media (max-width: 880px) {
  .contacts {
    flex-direction: column-reverse;
    max-width: 210px;
    height: 65px;
    justify-content: space-between;
    align-items: center;
  }

  .contacts p {
    font-size: 16px;
  }

  .callback-btn {
    font-size: 16px;
    padding: 7px 33px;
  }

  .phone {
    padding: 0;
  }

  .experience {
    margin-top: 60px;
  }
}

@media (max-width: 790px) {
  .price-text:first-child {
    font-size: 35px;
  }
  .price-text {
    font-size: 35px;
  }

  .grey-key {
    filter: blur(17px);
  }
}

@media (max-width: 540px) {
  .main {
    padding: 0 17px;
  }

  .logo {
    margin-right: 20px;
  }

  .header {
    flex-direction: column-reverse;
    align-items: center;
  }
  .contacts {
    margin-bottom: 67px;
  }

  .info {
    margin-top: 60px;
  }

  .info-text {
    max-width: 297px;
  }

  .info-title {
    font-size: 20px;
  }

  .info-subtitle {
    font-size: 16px;
  }

  .info-subtitle.desctop {
    display: none;
  }

  .info-subtitle.mobile {
    display: block;
  }

  .materials-box {
    padding: 21px;
  }

  .form-header {
    margin-top: 120px;
  }

  .form-text-time {
    margin-top: 45px;
  }

  .footer {
    font-size: 16px;
  }

  .settings-bg {
    max-width: 262px;
  }

  .grey-key {
    filter: none;
    transform: rotate(3deg);
    max-width: 208px;
    top: 1807px;
    right: 392px;
  }

  .blue-key-bg {
    display: none;
  }

  .blue-key {
    display: block;
    position: absolute;
    z-index: -1;
    top: 1165px;
    right: -17px;
  }
}

@media (max-width: 500px) {
  .grey-key {
    top: 1846px;
    right: 392px;
  }
}

@media (max-width: 450px) {
  .description-title {
    flex-direction: column;
  }

  .description-title span:last-child {
    margin-left: -11px;
  }

  .experience {
    margin-top: 46px;
  }

  .materials-title {
    font-size: 20px;
  }

  .materials-decsription {
    font-size: 14px;
  }

  .form-text,
  .form-text-time {
    font-size: 20px;
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 20px;
  }

  form button {
    font-size: 20px;
  }

  .blue-key {
    display: block;
    position: absolute;
    z-index: -1;
    top: 1258px;
    right: -16px;
  }

  .grey-key {
    top: 1935px;
    right: 322px;
  }
}

@media (max-width: 420px) {
  .description-text-container {
    min-height: 180px;
  }

  .desciption-text {
    font-size: 14px;
  }

  .experience-title {
    font-size: 20px;
  }

  .experience-description {
    font-size: 16px;
  }

  .experience-phone {
    padding: 17px 45px;
  }

  .price-text:first-child {
    font-size: 25px;
  }

  .price-text {
    font-size: 25px;
  }

  .contact-form {
    align-items: end;
  }

  .grey-key {
    top: 1842px;
    right: 312px;
  }
}

@media (max-width: 350px) {
  .grey-key {
    top: 1909px;
    right: 236px;
  }
}

@media (max-width: 320px) {
  .description-text-container {
    min-height: 230px;
  }

  .blue-key {
    display: block;
    position: absolute;
    z-index: -1;
    top: 1397px;
    right: -16px;
  }

  .grey-key {
    top: 2090px;
    right: 193px;
  }
}
