* {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #070707;
}

.header {
    margin: 0 auto;
    max-width: 1600px;
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo-title {
    font-weight: 600;
    font-size: 30px;
    color: #000000;
    line-height: 27px;
}

.logo-title span {
    color: #48A1F7;
}

.logo img {
    margin-right: 6px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-subtitle {
    font-size: 12px;
    color: #7E7E7E;
    font-weight: 400;
}

.contacts {
    display: flex;
    max-width: 509px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.contacts p {
    color: #070707;
    font-size: 20px;
    font-weight: 400;
}

.phone {
    transition: color 0.25s ease;
    padding: 0;
}

.phone:hover {
    color: #48A1F7;
    transition: color 0.25s ease;
}

.callback-btn {
    background-color: #48A1F7;
    padding: 10px 37px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 400;
    border-radius: 21px;
    border: solid 1px #FFFFFF;
    transition: background-color 0.25s ease, color 0.25s ease, border 0.25s ease;
}

.callback-btn:hover {
    background-color: #FFFFFF;
    color: #48A1F7;
    border: solid 1px #48A1F7;
    transition: background-color 0.25s ease, color 0.25s ease, border 0.25s ease;
}

.main {
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 224px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 120px;
}

.info-text {
    max-width: 50%;
}

.info-title {
    font-size: 35px;
    font-weight: 600;
    color: #000000;
    text-transform: uppercase;
}

.info-title span {
    color: #48A1F7;
}
.info-subtitle.mobile {
    display: none;
}

.info-subtitle {
    font-size: 25px;
    color: #000000;
}

.info-image img {
    max-width: 100%;
}

.description {
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.description-title {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    flex-direction: column;
}

.description-title span {
   color: #48A1F7;
}
.description-title span:last-child {
    color: #000000;
}

.description-text-container {
    max-width: 373px;
    border-radius: 16px;
    background-color: #48A1F7;
    padding: 21px;
    margin-top: 24px;
    min-height: 222px;
}

.desciption-text {
    font-size: 16px;
    color: #FFFFFF;
}

.desciption-text span {
    color: #000000;
}

.experience {
    text-align: center;
    max-width: 795px;
    margin: 132px auto 30px auto;
}

.experience-title {
    color: #000000;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 19px;
    text-transform: uppercase;
}

.experience-description {
    font-size: 25px;
    margin-bottom: 40px;
}

.experience-phone {
    color: #FFFFFF;
    background-color: #48A1F7;
    padding: 17px 50px;
    border: solid 1px #48A1F7;
    border-radius: 15px;
    transition: background-color 0.25s ease, color 0.25s ease, border 0.25s ease;
}

.experience-phone:hover {
    background-color: #FFFFFF;
    color: #48A1F7;
    transition: background-color 0.25s ease, color 0.25s ease, border 0.25s ease;
}

@media (max-width: 1550px) {
    .main {
        padding: 0 170px
    }
}
@media (max-width: 1440px) {
    .main {
        padding: 0 145px
    }
}

@media (max-width: 1120px) {
    .main {
        padding: 0 145px
    }
    .info-title {
        font-size: 25px;
    }

    .info-subtitle {
        font-size: 20px;
    }
}

@media (max-width: 1080px) {
    .main {
        padding: 0 90px;
    }

    .header {
        padding-left: 30px;
        padding-right: 30px;
    }

    .description {
        flex-direction: column;
    }

    .description-title {
        flex-direction: row;
        text-align: left;
        margin-left: 25px;
    }

    .description-text-container {
        max-width: 100%;
        min-height: 116px;
        margin-top: 5px;
        margin-bottom: 28px;
    }

}

@media (max-width: 920px) {
   .info {
    flex-direction: column;
   }
   .info-text {
    max-width: 100%;
}
}

@media (max-width: 880px) {
    .contacts {
        flex-direction: column-reverse;
        max-width: 210px;
        height: 65px;
        justify-content: space-between;
        align-items: center;
    }

    .contacts p {
        font-size: 16px;
    }

    .callback-btn {
        font-size: 16px;
        padding: 7px 34px;
    }

    .phone {
        padding: 0;
    }

    .experience {
        margin-top: 60px;
    }
}

@media (max-width: 540px) {
    .main {
        padding: 0 17px;
    }

    .logo {
        margin-right: 20px;
    }

    .header {
        flex-direction: column-reverse;
        align-items: center;
    }
    .contacts {
        margin-bottom: 67px;
    }

    .info {
        margin-top: 60px;
    }

    .info-text {
        max-width: 297px;
    }

    .info-title {
        font-size: 20px;
    }

    .info-subtitle {
        font-size: 16px;
    }

    .info-subtitle.desctop {
        display: none;
    }

    .info-subtitle.mobile {
        display: block;
    }
}

@media (max-width: 450px) {

    .description-title {
        flex-direction: column;
    }
    .description-title span:last-child {
        margin-left: -11px;
    }

    .experience {
        margin-top: 46px;
    }
}

@media (max-width: 420px) {

    .description-text-container {
        min-height: 180px;
    }

    .desciption-text {
        font-size: 14px;
    }

    .experience-title {
        font-size: 20px;
    }

    .experience-description {
        font-size: 16px;
    }
    
    .experience-phone {
        padding: 17px 45px;
    }
}

@media (max-width: 320px) {
    .description-text-container {
        min-height: 230px;
    }
}